@page
@model WebPortal.Pages.ProductsModel

@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

@Html.AntiForgeryToken()

@section PageHeaders {
   
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">BMS</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="/"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card border-top border-0 border-4 border-primary">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div>
                        <i class="bx bx-right-arrow-alt me-1 font-22 text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-primary">Products List</h5>
                    <button id="btn_add_product" type="button" class="btn btn-success btn-sm ms-auto"><i class="bx bx-plus me-0"></i>Add Product</button>
                </div>
                <hr>
                <div class="table-responsive">
                    <table id="productsTable" class="table table-striped table-bordered" style="width:100%">
                        <thead class="table-primary">                            
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Edit Product modal -->
<div class="modal fade" id="EditProductModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <i class="bx bxs-cube me-1 font-22 text-primary"></i>
                </div>
                <h5 class="modal-title" id="addEditModalTitle"><i class="fa fa-bar-chart text-primary"></i> Edit Product</h5>
                <button id="btn-modal-editproduct-menu-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmMdlEditProduct" name="frmMdlEditProduct" class="needs-validation" novalidate>
                    <input id="ProductAddEditModal_Id" name="ProductAddEditModal.Id" hidden />
                    <div class="form-group row m-0 mb-2 g-3">
                        <div class="col-sm-12">
                            <label for="txbx_modal_editproduct_Name" class="ml-3 col-form-label">Product</label>
                            <input class="form-control" type="text" id="ProductAddEditModal_ProductName" name="ProductAddEditModal.ProductName" placeholder="Product Name" required />
                            <div class="invalid-feedback">Product Name is required.</div>
                        </div>
                        <div class="col-md-12">
                            <input id="ProductAddEditModal_CategoryId" name="ProductAddEditModal.CategoryId" hidden />
                            <label for="select_modal_editproduct_category" class="form-label">Category</label>
                            <select id="select_modal_editproduct_category" class="single-select-editproduct form-select" required>
                                <option value="">-- Select Category --</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id.ToString()">@category.Name</option>
                                }
                            </select>
                            <div class="invalid-feedback">Category is required.</div>
                        </div>
                        <div class="col-sm-6">
                            <label for="txbx_modal_editproduct_mrp" class="ml-3 col-form-label">Mrp</label>
                            <input class="form-control" type="number" id="ProductAddEditModal_MRP" name="ProductAddEditModal.MRP" placeholder="Enter Mrp" required />
                            <div class="invalid-feedback">MRP is required.</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="ProductAddEditModal_Operation" value="ADD" />
                <button id="btn_modal_editproduct_save" type="button" class="btn btn-success btn-sm btn-validate">Save</button>
                <button id="btn_modal_editproduct_close" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/assets/js/product.js" asp-append-version="true"></script>
}