<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="/favicon-32x32.png" asp-append-version="true" type="image/png" />

    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <title>Thannickal Bakery - Bakery Management System</title>
    @await RenderSectionAsync("PageHeaders", required: false)

</head>

<body>
    <!--wrapper-->
    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <footer class="page-footer ml-0">
            <p class="mb-0">Copyright  &copy; @DateTime.Now.Year.ToString() - WebPortal. All right reserved. | Ver @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version </p>
        </footer>
    </div>
    <!--end wrapper-->
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> *@

    <!--app JS-->
    <script src="~/assets/js/app.js"></script>

</body>
</html>
